In [1]:
#pip install pandas-datareader

In [2]:
from pandas_datareader import data

In [3]:
df_aapl = data.get_data_yahoo("AAPL")

In [4]:
df_aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-04-27,133.130005,131.149994,132.309998,132.649994,96954200.0,122.072395
2015-04-28,134.539993,129.570007,134.460007,130.559998,118924000.0,120.149078
2015-04-29,131.589996,128.300003,130.160004,128.639999,63386100.0,118.382187
2015-04-30,128.639999,124.580002,128.639999,125.150002,83195400.0,115.170479
2015-05-01,130.130005,125.300003,126.099998,128.949997,58512600.0,118.667458
...,...,...,...,...,...,...
2020-04-20,281.679993,276.850006,277.950012,276.929993,32503800.0,276.929993
2020-04-21,277.250000,265.429993,276.279999,268.369995,45247900.0,268.369995
2020-04-22,277.899994,272.200012,273.609985,276.100006,29264300.0,276.100006
2020-04-23,281.750000,274.869995,275.869995,275.029999,31128600.0,275.029999
2020-04-24,282.970001,277.000000,277.200012,282.970001,30338976.0,282.970001

In [5]:
df_isp = data.get_data_yahoo("ISP.MI", start="2019-01-01", end="2019-12-31")

In [6]:
df_isp

              High     Low    Open   Close       Volume  Adj Close
Date
2019-01-02  1.9330  1.8828  1.9276  1.9064   98236797.0   1.733370
2019-01-03  1.9458  1.8950  1.8952  1.9014  120516423.0   1.728824
2019-01-04  1.9992  1.9200  1.9230  1.9992  135132352.0   1.817748
2019-01-07  2.0430  2.0010  2.0100  2.0330  106166510.0   1.848480
2019-01-08  2.0570  2.0040  2.0370  2.0095  110672611.0   1.827113
...            ...     ...     ...     ...          ...        ...
2019-12-19  2.3800  2.3580  2.3610  2.3800   87441143.0   2.380000
2019-12-20  2.4050  2.3745  2.4000  2.4050  220630496.0   2.405000
2019-12-23  2.4025  2.3805  2.3930  2.4005   59129289.0   2.400500
2019-12-27  2.3995  2.3550  2.3905  2.3550   85908015.0   2.355000
2019-12-30  2.3665  2.3485  2.3550  2.3485   45563575.0   2.348500

[252 rows x 6 columns]

In [8]:
#pip install yfinance==0.1.52

In [9]:
import yfinance as yf

In [10]:
data = yf.download("AAPL", start="2019-01-01", end="2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [11]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,158.529999,159.360001,156.479996,157.740005,155.037109,35003500
2019-01-02,154.889999,158.850006,154.229996,157.919998,155.214005,37039700
2019-01-03,143.979996,145.720001,142.000000,142.190002,139.753540,91312200
2019-01-04,144.529999,148.550003,143.800003,148.259995,145.719513,58607100
2019-01-07,148.699997,148.830002,145.899994,147.929993,145.395203,54777800
...,...,...,...,...,...,...
2019-12-23,280.529999,284.250000,280.369995,284.000000,283.327576,24643000
2019-12-24,284.690002,284.890015,282.920013,284.269989,283.596924,12119700
2019-12-26,284.820007,289.980011,284.700012,289.910004,289.223602,23280300
2019-12-27,291.119995,293.970001,288.119995,289.799988,289.113831,36566500
2019-12-30,289.459991,292.690002,285.220001,291.519989,290.829773,36028600

In [12]:
data = yf.download("AAPL MSFT AMZN")

[*********************100%***********************]  3 of 3 completed

In [13]:
data

             Adj Close                                Close               \
                  AAPL         AMZN        MSFT        AAPL         AMZN
Date
1980-12-12    0.406782          NaN         NaN    0.513393          NaN
1980-12-15    0.385558          NaN         NaN    0.486607          NaN
1980-12-16    0.357260          NaN         NaN    0.450893          NaN
1980-12-17    0.366103          NaN         NaN    0.462054          NaN
1980-12-18    0.376715          NaN         NaN    0.475446          NaN
...                ...          ...         ...         ...          ...
2020-04-20  276.929993  2393.610107  175.059998  276.929993  2393.610107
2020-04-21  268.369995  2328.120117  167.820007  268.369995  2328.120117
2020-04-22  276.100006  2363.489990  173.520004  276.100006  2363.489990
2020-04-23  275.029999  2399.449951  171.419998  275.029999  2399.449951
2020-04-24  282.970001  2410.219971  174.550003  282.970001  2410.219971

                              High                                  Low  \
                  MSFT        AAPL         AMZN        MSFT        AAPL
Date
1980-12-12         NaN    0.515625          NaN         NaN    0.513393
1980-12-15         NaN    0.488839          NaN         NaN    0.486607
1980-12-16         NaN    0.453125          NaN         NaN    0.450893
1980-12-17         NaN    0.464286          NaN         NaN    0.462054
1980-12-18         NaN    0.477679          NaN         NaN    0.475446
...                ...         ...          ...         ...         ...
2020-04-20  175.059998  281.679993  2444.979980  178.750000  276.850006
2020-04-21  167.820007  277.250000  2428.310059  173.669998  265.429993
2020-04-22  173.520004  277.899994  2394.000000  174.000000  272.200012
2020-04-23  171.419998  281.750000  2424.219971  175.059998  274.869995
2020-04-24  174.550003  282.970001  2420.433105  174.550003  277.000000

                                           Open                           \
                   AMZN        MSFT        AAPL         AMZN        MSFT
Date
1980-12-12          NaN         NaN    0.513393          NaN         NaN
1980-12-15          NaN         NaN    0.488839          NaN         NaN
1980-12-16          NaN         NaN    0.453125          NaN         NaN
1980-12-17          NaN         NaN    0.462054          NaN         NaN
1980-12-18          NaN         NaN    0.475446          NaN         NaN
...                 ...         ...         ...          ...         ...
2020-04-20  2386.050049  174.990005  277.950012  2389.949951  176.630005
2020-04-21  2279.659912  166.110001  276.279999  2416.610107  173.500000
2020-04-22  2351.000000  170.820007  273.609985  2369.000000  171.389999
2020-04-23  2382.080078  170.910004  275.869995  2399.979980  174.110001
2020-04-24  2382.000000  170.710007  277.200012  2417.000000  172.059998

               Volume
                 AAPL       AMZN        MSFT
Date
1980-12-12  117258400        NaN         NaN
1980-12-15   43971200        NaN         NaN
1980-12-16   26432000        NaN         NaN
1980-12-17   21610400        NaN         NaN
1980-12-18   18362400        NaN         NaN
...               ...        ...         ...
2020-04-20   32503800  5770700.0  36669600.0
2020-04-21   45247900  7476700.0  56203700.0
2020-04-22   29264300  4218300.0  34651600.0
2020-04-23   31128600  5049100.0  32742100.0
2020-04-24   30338976  3742512.0  32911053.0

[9925 rows x 18 columns]

In [14]:
aapl = yf.Ticker("AAPL")

In [15]:
aapl

yfinance.Ticker object <AAPL>

In [16]:
dir(aapl)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_balancesheet',
 '_base_url',
 '_calendar',
 '_cashflow',
 '_download_options',
 '_earnings',
 '_expirations',
 '_financials',
 '_fundamentals',
 '_get_fundamentals',
 '_history',
 '_info',
 '_institutional_holders',
 '_major_holders',
 '_options2df',
 '_recommendations',
 '_scrape_url',
 '_sustainability',
 'actions',
 'balance_sheet',
 'balancesheet',
 'calendar',
 'cashflow',
 'dividends',
 'earnings',
 'financials',
 'get_actions',
 'get_balance_sheet',
 'get_balancesheet',
 'get_calendar',
 'get_cashflow',
 'get_dividends',
 'get_earnings',
 'get_financials',
 'get_info',
 'get_institutional_holders',
 'get_major_holders',
 'get_recommendations',
 'get_splits',
 'get_sustainability',
 'history',
 'info',
 'institutional_holders',
 'major_holders',
 'option_chain',
 'options',
 'quarterly_balance_sheet',
 'quarterly_balancesheet',
 'quarterly_cashflow',
 'quarterly_earnings',
 'quarterly_financials',
 'recommendations',
 'splits',
 'sustainability',
 'ticker']

In [17]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 137000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. has a collaboration with Google to a system to track the spread of the coronavirus using the Bluetooth technology on mobile devices. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 275.03,
 'regularMarketOpen': 277.2,
 'twoHundredDayAverage': 276.157,
 'trailingAnnualDividendYield': 0.01105334,
 'payoutRatio': 0.2394,
 'volume24Hr': None,
 'regularMarketDayHigh': 282.97,
 'navPrice': None,
 'averageDailyVolume10Day': 39096962,
 'totalAssets': None,
 'regularMarketPreviousClose': 275.03,
 'fiftyDayAverage': 262.19315,
 'trailingAnnualDividendRate': 3.04,
 'open': 277.2,
 'toCurrency': None,
 'averageVolume10days': 39096962,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 3.08,
 'exDividendDate': 1581033600,
 'beta': 1.173542,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 277,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 22.466852,
 'regularMarketVolume': 30338976,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1238129573888,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 51202671,
 'priceToSalesTrailing12Months': 4.6253576,
 'dayLow': 277,
 'ask': 282.35,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 30338976,
 'fiftyTwoWeekHigh': 327.85,
 'forwardPE': 19.080917,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.6,
 'fiftyTwoWeekLow': 170.27,
 'bid': 282.25,
 'tradeable': False,
 'dividendYield': 0.0112,
 'bidSize': 800,
 'dayHigh': 282.97,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.531,
 'beta3Year': None,
 'profitMargins': 0.21490999,
 'enterpriseToEbitda': 15.527,
 '52WeekChange': 0.34620655,
 'morningStarRiskRating': None,
 'forwardEps': 14.83,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4375479808,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 20.418,
 'sharesShort': 39059449,
 'sharesPercentSharesOut': 0.0089,
 'fundFamily': None,
 'lastFiscalYearEnd': 1569628800,
 'heldPercentInstitutions': 0.61656,
 'netIncomeToCommon': 57527001088,
 'trailingEps': 12.595,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.04832846,
 'priceToBook': 13.8588505,
 'heldPercentInsiders': 0.00066,
 'nextFiscalYearEnd': 1632787200,
 'mostRecentQuarter': 1577491200,
 'shortRatio': 0.55,
 'sharesShortPreviousMonthDate': 1582848000,
 'floatShares': 4370491953,
 'enterpriseValue': 1212977250304,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1402272000,
 'lastSplitFactor': '7:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.114,
 'dateShortInterest': 1585612800,
 'pegRatio': 1.76,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0089,
 'sharesShortPriorMonth': 29008504,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 277.2,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [18]:
aapl.dividends

Date
1987-05-11    0.00214
1987-08-10    0.00214
1987-11-17    0.00286
1988-02-12    0.00286
1988-05-16    0.00286
               ...
2019-02-08    0.73000
2019-05-10    0.77000
2019-08-09    0.77000
2019-11-07    0.77000
2020-02-07    0.77000
Name: Dividends, Length: 66, dtype: float64

In [19]:
aapl.history()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-03-25  250.75  258.25  244.30  245.52  75900500          0             0
2020-03-26  246.52  258.68  246.36  258.44  63021800          0             0
2020-03-27  252.75  255.87  247.05  247.74  51054200          0             0
2020-03-30  250.74  255.52  249.40  254.81  41994100          0             0
2020-03-31  255.60  262.49  252.00  254.29  49250500          0             0
2020-04-01  246.50  248.72  239.13  240.91  44054600          0             0
2020-04-02  240.34  245.15  236.90  244.93  41483500          0             0
2020-04-03  242.80  245.70  238.97  241.41  32470000          0             0
2020-04-06  250.90  263.11  249.38  262.47  50455100          0             0
2020-04-07  270.80  271.70  259.00  259.43  50721800          0             0
2020-04-08  262.74  267.37  261.23  266.07  42223800          0             0
2020-04-09  268.70  270.07  264.70  267.99  40529100          0             0
2020-04-13  268.31  273.70  265.83  273.25  32755700          0             0
2020-04-14  280.00  288.25  278.05  287.05  48748700          0             0
2020-04-15  282.40  286.33  280.63  284.43  32788600          0             0
2020-04-16  287.38  288.20  282.35  286.69  39281300          0             0
2020-04-17  284.69  286.95  276.86  282.80  53812500          0             0
2020-04-20  277.95  281.68  276.85  276.93  32503800          0             0
2020-04-21  276.28  277.25  265.43  268.37  45247900          0             0
2020-04-22  273.61  277.90  272.20  276.10  29264300          0             0
2020-04-23  275.87  281.75  274.87  275.03  31128600          0             0
2020-04-24  277.20  282.97  277.00  282.97  28844026          0             0

In [20]:
aapl.financials

,2019-09-28,2018-09-29,2017-09-30,2016-09-24
Research Development,1.6217e+10,1.4236e+10,1.1581e+10,1.0045e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,6.5737e+10,7.2903e+10,6.4089e+10,6.1372e+10
Minority Interest,None,None,None,None
Net Income,5.5256e+10,5.9531e+10,4.8351e+10,4.5687e+10
Selling General Administrative,1.8245e+10,1.6705e+10,1.5261e+10,1.4194e+10
Gross Profit,9.8392e+10,1.01839e+11,8.8186e+10,8.4263e+10
Ebit,6.393e+10,7.0898e+10,6.1344e+10,6.0024e+10
Operating Income,6.393e+10,7.0898e+10,6.1344e+10,6.0024e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-3.576e+09,-3.24e+09,-2.323e+09,-1.456e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.0481e+10,1.3372e+10,1.5738e+10,1.5685e+10
Total Revenue,2.60174e+11,2.65595e+11,2.29234e+11,2.15639e+11
Total Operating Expenses,1.96244e+11,1.94697e+11,1.6789e+11,1.55615e+11
Cost Of Revenue,1.61782e+11,1.63756e+11,1.41048e+11,1.31376e+11
Total Other Income Expense Net,1.807e+09,2.005e+09,2.745e+09,1.348e+09
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,5.5256e+10,5.9531e+10,4.8351e+10,4.5687e+10
Net Income Applicable To Common Shares,5.5256e+10,5.9531e+10,4.8351e+10,4.5687e+10

In [21]:
aapl.balance_sheet

,2019-09-28,2018-09-29,2017-09-30,2016-09-24
Total Liab,2.480280e+11,2.585780e+11,2.412720e+11,1.934370e+11
Total Stockholder Equity,9.048800e+10,1.071470e+11,1.340470e+11,1.282490e+11
Other Current Liab,4.324200e+10,3.929300e+10,3.809900e+10,8.243000e+09
Total Assets,3.385160e+11,3.657250e+11,3.753190e+11,3.216860e+11
Common Stock,4.517400e+10,4.020100e+10,3.586700e+10,3.125100e+10
Other Current Assets,1.235200e+10,1.208700e+10,1.393600e+10,8.283000e+09
Retained Earnings,4.589800e+10,7.040000e+10,9.833000e+10,9.636400e+10
Other Liab,5.050300e+10,4.891400e+10,4.325100e+10,3.900400e+10
Treasury Stock,-5.840000e+08,-3.454000e+09,-1.500000e+08,6.340000e+08
Other Assets,3.297800e+10,2.228300e+10,1.817700e+10,8.757000e+09
Cash,4.884400e+10,2.591300e+10,2.028900e+10,2.048400e+10
Total Current Liabilities,1.057180e+11,1.159290e+11,1.008140e+11,7.900600e+10
Short Long Term Debt,1.026000e+10,8.784000e+09,6.496000e+09,3.500000e+09
Other Stockholder Equity,-5.840000e+08,-3.454000e+09,-1.500000e+08,6.340000e+08
Property Plant Equipment,3.737800e+10,4.130400e+10,3.378300e+10,2.701000e+10
Total Current Assets,1.628190e+11,1.313390e+11,1.286450e+11,1.068690e+11
Long Term Investments,1.053410e+11,1.707990e+11,1.947140e+11,1.704300e+11
Net Tangible Assets,9.048800e+10,1.071470e+11,1.340470e+11,1.196290e+11
Short Term Investments,5.171300e+10,4.038800e+10,5.389200e+10,4.667100e+10
Net Receivables,4.580400e+10,4.899500e+10,3.567300e+10,2.929900e+10
Long Term Debt,9.180700e+10,9.373500e+10,9.720700e+10,7.542700e+10
Inventory,4.106000e+09,3.956000e+09,4.855000e+09,2.132000e+09
Accounts Payable,4.623600e+10,5.588800e+10,4.424200e+10,3.729400e+10
Intangible Assets,NaN,NaN,NaN,3.206000e+09
Good Will,NaN,NaN,NaN,5.414000e+09

In [22]:
aapl.cashflow

,2019-09-28,2018-09-29,2017-09-30,2016-09-24
Investments,5.809300e+10,3.084500e+10,-3.354200e+10,-3.202200e+10
Change To Liabilities,-2.548000e+09,9.172000e+09,8.373000e+09,5.630000e+08
Total Cashflows From Investing Activities,4.589600e+10,1.606600e+10,-4.644600e+10,-4.597700e+10
Net Borrowings,-7.819000e+09,4.320000e+08,2.901400e+10,2.205700e+10
Total Cash From Financing Activities,-9.097600e+10,-8.787600e+10,-1.797400e+10,-2.089000e+10
Change To Operating Activities,-8.960000e+08,3.001600e+10,-8.480000e+09,-9.020000e+08
Issuance Of Stock,7.810000e+08,6.690000e+08,5.550000e+08,4.950000e+08
Net Income,5.525600e+10,5.953100e+10,4.835100e+10,4.568700e+10
Change In Cash,2.431100e+10,5.624000e+09,-1.950000e+08,-6.360000e+08
Repurchase Of Stock,-6.971400e+10,-7.526500e+10,-3.477400e+10,-3.129200e+10
Total Cash From Operating Activities,6.939100e+10,7.743400e+10,6.422500e+10,6.623100e+10
Depreciation,1.254700e+10,1.090300e+10,1.015700e+10,1.050500e+10
Other Cashflows From Investing Activities,-1.078000e+09,-7.450000e+08,-1.240000e+08,-9.240000e+08
Dividends Paid,-1.411900e+10,-1.371200e+10,-1.276900e+10,-1.215000e+10
Change To Inventory,-2.890000e+08,8.280000e+08,-2.723000e+09,2.170000e+08
Change To Account Receivables,2.450000e+08,-5.322000e+09,-2.093000e+09,5.270000e+08
Other Cashflows From Financing Activities,-1.050000e+08,-1.050000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,5.076000e+09,-2.769400e+10,1.064000e+10,9.634000e+09
Capital Expenditures,-1.049500e+10,-1.331300e+10,-1.245100e+10,-1.273400e+10